/*Tipo para Gonza on the beat*/
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
/*font-family: 'Rock Salt', italic;*/
/*Tipo para toda la web*/
@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap");
/*font-family: 'Cabin Condensed', sans-serif;*/
/**IMPORTS**/
header div ul .nav-item:hover {
  background-color: purple;
}

/**ESTILOS GENERALES**/
body {
  background-color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#titulo {
  font-family: "Rock Salt";
  color: whitesmoke;
}

.menu ul li {
  font-family: 'Cabin Condensed', sans-serif;
  color: whitesmoke;
  text-transform: uppercase;
  padding: 10px 20px 15px 20px;
  max-width: 200px;
  height: 50px;
}

.footer {
  color: thistle;
  font-size: small;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 10px;
}

/**COMIENZA INDEX**/
.gonzaportada img {
  width: 100%;
}

.presentacion p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Cabin Condensed", sans-serif;
  color: whitesmoke;
  margin-top: 30px;
  font-style: bold;
  text-align: center;
}

.columnas {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.columnas div .gonzabyn img {
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  max-width: 250px;
  height: auto;
}

.columnas .lista {
  font-family: "Cabin Condensed", sans-serif;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.columnas .lista ul li {
  list-style: none;
  text-align: left;
  padding: 5px;
  margin-top: 25px;
  font-size: 60%;
  text-decoration: none;
}

.container {
  width: 50%;
  height: 50%;
  margin-top: 90px;
  margin-bottom: 10px;
}

.tituloYoutube {
  font-family: "Cabin Condensed", sans-serif;
  font-size: 20px;
  text-decoration: underline;
  color: whitesmoke;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/**COMIENZA PRODUCTS**/
.contenedorbeats .titulobeats {
  font-family: "Cabin Condensed", sans-serif;
  color: whitesmoke;
  font-weight: normal;
  text-decoration: underline;
  text-align: center;
}

.contenedorkits .titulokits {
  font-family: "Cabin Condensed", sans-serif;
  color: whitesmoke;
  font-weight: normal;
  padding: 10px;
  text-decoration: underline;
  text-align: center;
}

/**COMIENZA LICENSING INFO**/
.tarjetaslicensing {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/**COMIENZA CONTACT**/
.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #3b3a3a;
  border-radius: 4px;
  max-width: 700px;
  margin: auto;
  padding: 5px 35px;
  padding-bottom: 30px;
}

.formheader .tituloContact {
  font-weight: normal;
  font-family: "Cabin Condensed", sans-serif;
  color: whitesmoke;
  text-align: center;
}

.form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: thistle;
  font-size: 16px;
  font-family: "Cabin Condensed", sans-serif;
  text-align: left;
}

#Message {
  height: 150px;
  width: 600px;
}

.form-check-label {
  color: thistle;
  font-family: "Cabin Condensed", sans-serif;
}

#btnform {
  font-family: "Cabin Condensed";
  font-size: 16px;
}

#btnform:hover {
  background-color: thistle;
}

/**COMIENZA FAQ**/
.titulofaq h2, .titulofaq h4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-family: "Cabin Condensed", sans-serif;
  color: whitesmoke;
  text-align: center;
}

.titulofaq h2 {
  text-decoration: underline;
}

.tarjetapreguntas {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardheader {
  text-align: center;
}

.aditionalquestion {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-family: "Cabin Condensed", sans-serif;
  color: whitesmoke;
  text-align: center;
  font-style: italic;
  font-size: smaller;
}

/**COMIENZA FIND ME**/
.socialmedia-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e23098;
  margin: 100px;
  padding: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialmedia-btn a {
  padding-left: 80px;
}

#Socialmedia img {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
}

#Socialmedia img:hover {
  -webkit-transform: translateY(-5px) scale(2);
          transform: translateY(-5px) scale(2);
}
/*# sourceMappingURL=estilo.css.map */