/*Tipo para Gonza on the beat*/
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
/*font-family: 'Rock Salt', italic;*/

/*Tipo para toda la web*/
@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap");
/*font-family: 'Cabin Condensed', sans-serif;*/

/**IMPORTS**/
@import "variables";
@import "boton";

/**ESTILOS GENERALES**/
  body {
    background-color: $colorfondo;
    box-sizing: border-box;
  } 

  #titulo{
    font-family: "Rock Salt";
    color: $colorweb;
  }

  .menu { 
    ul {
      li {
          font-family: 'Cabin Condensed', sans-serif;
          color: $colorweb;
          text-transform: uppercase;
          padding: 10px 20px 15px 20px;
          max-width: 200px;
          height: 50px;
      }
    }
  }

  .footer {
    color: $colorfooter;
    font-size: small;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }


/**COMIENZA INDEX**/

  .gonzaportada {
    img {
      width: 100%;
    }
  }

  .presentacion {
    p{
      display: flex;
      font-family: "Cabin Condensed", sans-serif;
      color: $colorweb;
      margin-top: 30px;
      font-style: bold;
      text-align: center;
    }
  }
 
  .columnas {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
      div {
        .gonzabyn{
          img {
            padding: 10px;
            justify-content: center;
            align-items: center;
            width: auto;
            max-width: 250px;
            height: auto;
          }
        }
      }
      div{
        section {
          .lista {
            font-family: "Cabin Condensed", sans-serif;
            color: $colorweb;
            display: flex;
            flex-direction: row-reverse;
              ul li {
                list-style: none;
                text-align: left;
                padding: 5px;
                margin-top: 25px;
                font-size: 60%;
                text-decoration: none;
              }
          }   
        }
      }  
  }

  .container {
    width: 50%;
    height: 50%;
    margin-top: 90px;
    margin-bottom: 10px;
  }
  
  .tituloYoutube {
    font-family: "Cabin Condensed", sans-serif;
    font-size: 20px;
    text-decoration: underline;
    color: $colorweb;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  

/**COMIENZA PRODUCTS**/

  .contenedorbeats .titulobeats {
    font-family: "Cabin Condensed", sans-serif;
    color: whitesmoke;
    font-weight: normal;
    text-decoration: underline;
    text-align: center;
  }

  .contenedorkits .titulokits {
    font-family: "Cabin Condensed", sans-serif;
    color: whitesmoke;
    font-weight: normal;
    padding: 10px;
    text-decoration: underline;
    text-align: center;
  }


/**COMIENZA LICENSING INFO**/

  .tarjetaslicensing {
    justify-content: center;
    width:100%
  }


/**COMIENZA FAQ**/

  .titulofaq {
    h2,h4{
      justify-content: center;
      font-weight: normal;
      font-family: "Cabin Condensed", sans-serif;
      color: whitesmoke;
      text-align: center;
    }
  }

  .titulofaq {
    h2{
      text-decoration: underline;
    }
  }

  .tarjetapreguntas {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-around;
    text-align: center;
      .card {
        background-color: transparent;
        font-weight: normal;
        font-family: "Cabin Condensed", sans-serif;
        color: whitesmoke;
      }
  }

  .cardheader {
    text-align: center;
  }

  .aditionalquestion {
    justify-content: center;
    font-weight: normal;
    font-family: "Cabin Condensed", sans-serif;
    color: whitesmoke;
    text-align: center;
    font-style: italic;
    font-size: smaller;
  }


/**COMIENZA FIND ME**/

  .socialmedia-btn {
    display: flex;
    background-color: rgb(226, 48, 152);
    margin: 100px;
    padding: 100px;
    align-items: center;
      a {
        padding-left: 80px;
      }
  }

  #Socialmedia {
    img {
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 7px;
      cursor: pointer;
      text-align: center;
        &:hover {
        transform: translateY(-5px) scale(2);
        }
    }
  }

/**COMIENZA CONTACT**/

  .formulario {
    display: flex;
    justify-content: center;
    background: rgb(59, 58, 58);
    border-radius: 4px;
    max-width: 700px;
    margin: auto;
    padding: 5px 35px;
    padding-bottom: 30px;
  }

  .formheader .tituloContact {
    font-weight: normal;
    font-family: "Cabin Condensed", sans-serif;
    color: whitesmoke;
    text-align: center;
  }
  
  .form-label {
    display: flex;
    color: thistle;
    font-size: 16px;
    font-family: "Cabin Condensed", sans-serif;
    text-align: left;
  }

  #Message {
      height: 150px;
      width: 600px;
  }
  
  .form-check-label{
    color: thistle;
    font-family: "Cabin Condensed", sans-serif;
  }

  #btnform {
    font-family: "Cabin Condensed";
    font-size: 16px;
      &:hover {
        background-color: rgb(216, 191, 216);
      }
  }


/**MOBILE**/

@media screen and (max-width:575px) {

  /**ESTILOS GENERALES**/
    #titulo {
      max-width: 10px;
      padding: 2px;
      margin: 2px;
    }
  
    .footer {
      font-size: xx-small;
    }

  /**COMIENZA INDEX**/
    .presentacion {
      p{
        font-size: 6px;
      }
    }
 
    .columnas {
      div {
        .gonzabyn{
          img {
            max-width: 150px;
          }
        }
      }
    }

    .lista {
      ul li {
        font-size: 50%;
      }
    }   

    .container {
      width: 95%;
      height: 95%;
      margin-top: 60px;
      margin-bottom: 10px;
    }
    
  /**COMIENZA PRODUCTS**/

  /**COMIENZA LICENSING INFO**/

  /**COMIENZA FAQ**/
    .tarjetapreguntas {
      width: 90%;
      justify-content: space-around;
      text-align: center;
      margin: auto;
    }

  /**COMIENZA FIND ME**/
  
  /**COMIENZA CONTACT**/
    .formulario {
      max-width: 400px;
      margin-left: 20px;
      padding: 2px 5px;
      padding-bottom: 8px;
        input,textarea {
          max-width: 250px;
        }
    }
}